.head1 {
    background-color: #F7FDFC;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.head2 {
    width: 65%;
    margin: auto;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.flex-box1 {
    padding-top: 200px;
}

.flex-box2 {
    padding-top: 150px;
}

.name {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.first-name {
    width: 45%;
}

#firstname {
    border: 2px solid #2EC4B6;
  }

.last-name {
    width: 45%;
}

.gender-birthday {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

.gender {
    width: 45%;
}

#gender {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid black;
    background-color: #fff;
    opacity: 0.4;
  }

.birthday {
    width: 45%;
}

#birthday {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid black;
    opacity: 0.4;
  }

.weight-height {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

.activity {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.activity label {
    margin-left: 15px;
  }

#activity {
    width: 95%;
    padding: 15px;
    margin-left: 15px;
    border: 1px solid;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0.4;
  }

.password {
    margin-left: 15px;
    line-height: 15px;
    width: 95%;
}

.password label {
    padding-top: 10px;
  }

input[type="text"] {
    width: 100%;
    padding: 15px;
    color: #737373;
    margin: 8px 0;
    border: 1px solid #555;
    box-sizing: border-box;
    opacity: 0.4;
  }

input[type="submit"] {
    width: 95%;
    background-color: #2EC4B6;
    color: white;
    padding: 15px;
    margin-left: 16px;
    border: none;
    cursor: pointer;
    line-height: 10px;
}
